{erl_opts, [fail_on_warning, debug_info, warn_untyped_record]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.

{edoc_opts, [{dialyzer_specs, all}]}.
{validate_app_modules, true}.

{eunit_compile_opts, [{src_dirs, ["src", "c_src"]}]}.

{port_sources, ["c_src/*.c"]}.
{port_specs, [{"priv/syslog_drv.so", ["c_src/*.c"]}]}.
