%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% -*- coding: utf-8 -*-

{erl_opts, [
 debug_info, 
 warnings_as_errors,
 warn_untyped_record, 
 {platform_define, "^[0-9]+", namespaced_types}
]}.

{plugins, [
  { pc, { git, "git://github.com/blt/port_compiler.git", {ref, "73c4fc9473ed19c6e4592273cb687855116564b6"}}}
]}.

{artifacts, ["priv/syslog_drv.so"]}.

{provider_hooks, [
  {post,
     [
       {compile, {pc, compile}},
       {clean, {pc, clean}}
     ]
}]}.
