%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% -*- coding: utf-8 -*-

{erl_opts, [
 debug_info,
 warnings_as_errors,
 warn_untyped_record,
 {platform_define, "^[0-9]+", namespaced_types}
]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.

{edoc_opts, [{dialyzer_specs, all}]}.
{validate_app_modules, true}.

{eunit_compile_opts, [{src_dirs, ["src", "c_src"]}]}.

{port_sources, ["c_src/*.c"]}.
{port_specs, [{"priv/syslog_drv.so", ["c_src/*.c"]}]}.

{plugins, [pc]}.

{artifacts, ["priv/syslog_drv.so"]}.

{provider_hooks, [
  {post,
     [
       {compile, {pc, compile}},
       {clean, {pc, clean}}
     ]
}]}.
